<h1>New Restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <div class="form-group m-5">
    <%= f.input :name, label: "Nome do restaurante" %>
  </div>

  <div class="form-group m-5">
    <%= f.input :address, label: "Endereço do restaurante" %>
  </div>

  <div class="form-group m-5">
    <%= f.input :category, label: "Categoria do restaurante" %>
  </div>

  <%= f.button :submit, class: "btn-primary m-5" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>

<%= link_to "Voltar", restaurants_path, class: 'btn btn-secondary m-5' %>
